@using Scheduler.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model Scheduler.Web.ViewModels.EventViewModel.EventDetailsViewModel

<div id="contrainer" class="box">
    <div class="column1">
        <h4 class="position-relative">Event Details</h4>
        <hr />
        <dl class="dl-horizontal text-left">
            <dt>
                @Html.DisplayNameFor(model => model.OwnerName)
            </dt>
            <dd>
                @Model.OwnerName
            </dd>
            <dt>
                Event @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Model.Name
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Model.Description
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Start)
            </dt>
            <dd>
                @Model.Start
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.End)
            </dt>
            <dd>
                @Model.End
            </dd>
        </dl>
    </div>
    <div class="column2">
        <h4 class="position-relative">@Html.DisplayNameFor(model => model.Participants)</h4>
        <hr />
        <dl class="dl-horizontal text-left">
            @foreach (var name in Model.Participants)
            {
                <dd>@name</dd>
            }
        </dl>
    </div>
    <div class="column3">
        <h4 class="position-relative">@Html.DisplayNameFor(model => model.Comments)</h4>
        <hr />
        <dl>
            @foreach (var comment in Model.Comments)
            {

                <dt>@comment.AuthorName</dt>
                <dd>@comment.Content</dd>

            }
        </dl>

    </div>
    <div class="column4">
        @{ var dataInputModel = new Scheduler.Web.ViewModels.Comments.InputCommentDto()
            {
                EventId = Model.Id,
            };}
        @{await Html.RenderPartialAsync(@"Comment/CreateCommnetForm", dataInputModel);}
    </div>
</div>


<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-controller="Home" asp-action="Index">Back</a> |
    <a asp-controller="Event" asp-action="Delete" asp-route-eventId="@Model.Id" asp-route-userId="@UserManager.GetUserId(this.User)">DeleteEvent</a>
</div>

<style>
    .box {
        width: 1200px;
        display: box;
        /* Firefox */
        display: -moz-box;
        -moz-box-orient: horizontal;
        /* Safari, Opera, and Chrome */
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        /* W3C */
        display: box;
        box-orient: horizontal;
    }

        .box .column1 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
            box-flex: 1.0;
        }

        .box .column2 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
            box-flex: 1.0;
        }

        .box .column3 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
            box-flex: 1.0;
        }

        .box .column4 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
            box-flex: 1.0;
        }
</style>
