@model Scheduler.Web.ViewModels.EventViewModel.EventDetailsViewModel

<div id="contrainer"class="box">
    <div class="column1">
        <h4 class="position-relative">Event Details</h4>
        <hr />
        <dl class="dl-horizontal text-left">
            <dt>
                @Html.DisplayNameFor(model => model.OwnerName)
            </dt>
            <dd>
                @Model.OwnerName
            </dd>
            <dt>
                Event @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Model.Name
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Model.Description
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Start)
            </dt>
            <dd>
                @Model.Start
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.End)
            </dt>
            <dd>
                @Model.End
            </dd>
        </dl>
    </div>
    <div class="column2">
        <h4 class="position-relative">@Html.DisplayNameFor(model => model.Participants)</h4>
        <hr />
        <dl class="dl-horizontal text-left">
            @foreach (var name in Model.Participants)
            {
                <dd>@name</dd>
            } 
        </dl>
    </div>
    <div class="column3">
        <h4 class="position-relative">@Html.DisplayNameFor(model => model.Comments)</h4>
        <hr />
        @foreach (var comment in Model.Comments)
        {
            <div class="comment_body">
                @comment.Content
            </div>

        }
    </div>
    <div class="column4">
        @{ var dataInputModel = new Scheduler.Web.ViewModels.Comments.InputCommentDto()
            {
                EventId = Model.Id,
            };}
        @{await Html.RenderPartialAsync(@"Comment/CreateCommnetForm", dataInputModel) ;}
    </div>
</div>


<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id}) |
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

<style>
    .box {
        width: 1200px;
        display: box;
        /* Firefox */
        display: -moz-box;
        -moz-box-orient: horizontal;
        /* Safari, Opera, and Chrome */
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        /* W3C */
        display: box;
        box-orient: horizontal;
    }

        .box .column1 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
             box-flex: 1.0;

        }

        .box .column2 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
            box-flex: 1.0;
        }

        .box .column3 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
            box-flex: 1.0;
        }
        .box .column4 {
            -moz-box-flex: 1.0; /* Firefox */
            -webkit-box-flex: 1.0; /* Safari and Chrome */
            -ms-flex: 1.0; /* Internet Explorer 10 */
             box-flex: 1.0;
        }
      
    
    .comment_block {
	width: 65%;
	height: 100%;

	margin: 0 auto;
	padding: 10px;

	

		.input_comment {
			display: inline-block;
			vertical-align: middle;

			margin-left: 10px;
			width: calc(100% - 75px);

			input[type="text"] {
				width: 100%;

				font-family: $LATO;
				font-weight: 300;
				font-size: 1.3rem;

				padding: 10px;

				border: none;
				border-bottom: 2px solid lighten($GREY, 15%);

				&:focus {
					outline: none;
					border-bottom: 2px solid lighten($GREY, 10%);
				}
			}
		}
	}

	.new_comment {
		width: 100%;
		height: auto;
		padding: 20px 0;
		border-top: 1px solid lighten($GREY, 10%);

		.user_comment {
			list-style-type: none;
		}

		.comment_body {
			display: inline-block;
			vertical-align: middle;

			width: calc(100% - 75px);
        min-height: 65px;
			margin-left: 10px;
			padding: 5px 10px;
			font-size: .9rem;
			color: #555;
			background-color: $WHITE;
			border-bottom: 2px solid lighten($GREY, 15%);
			.comment_details {
				display: inline-block;
				vertical-align: middle;
				width: 70%;
				text-align: left;
			}
</style>
